---
import { Github, Linkedin, Twitter } from 'lucide-react'
---

<footer class='bg-background text-white py-8'>
  <div class='container mx-auto px-4'>
    <div class='flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0'>
      <div class='text-xs md:text-sm'>© Geeked LLC - Levi Klingler 2024</div>
      <div class='text-xs md:text-sm'>
        <a href='/privacy-policy' class='hover:underline'> Privacy Policy </a>
      </div>
    </div>
  </div>
</footer>
